body {
  font-family: arial, sans-serif;
  text-transform: uppercase;
    width: 90%;
    margin: 0 auto;
}
/*link sutff-------------
---------*/
a:link {
    color: #01f48a;
}
a:visited {
    color: darkturquoise;
}
a:hover {
    background-color: gray;
    text-decoration: underline;
    color:#01f48a;
}
a:active {
    background-color: white;
    color:greenyellow;
}
/*navigation top-----------
-------------*/
.top {
   width: 100%;
    height: 300px;
    box-sizing: border-box;
    background: #fff url('../assets/bonfire.jpg') no-repeat;
    background-size:cover;
    background-position:center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
.top {
  padding 10px;
}
.nav {
 text-transform: uppercase;
 color: #01f48a
}

/*-----------about-----
-------------------------*/

.about {
  background-color: #242424;
  color: white;
  text-transform: uppercase;
padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5%;
}
.subtitle1, .me {
  font-size: 50px;
  color: white;
   text-align: left;
}
.me {
font-size: 20px;
}



/*--------movies-------
------------------------*/

section { 
	display: flex;
	flex-flow: row wrap;
}
.movies {
    width:100%;
    background: url('../assets/movieseats.jpg') repeat;
    background-size:cover; 
    text-align:center;
}

#movie-links {
    display: inline;
}
.fav-movies {
    margin: 3%;
    padding: 5%;
    border-bottom: 3px solid #01f48a;
    width: 350px
    }
img {
    width: 350px;
    height: 500px;
    padding-top: 7%;
}
/* .fav-movies #serendipity {
     background-image: url('../assets/movie1.jpg');
       background-size:cover;
    background-position: center;
    width: 350px;
    height: 500px   
}
.fav-movies #cloudy {
     background-image: url('../assets/movie2.jpg');
       background-size:cover;
    background-position: center;
    width: 350px;
    height: 500px   
}
.fav-movies #elf {
     background-image: url('../assets/movie3.jpg');
       background-size:cover;
    background-position: center;
    width: 350px;
    height: 500px;
}
*/
.elf, .serendipity, .cloudy {
    text-align: center;
    text-decoration: none;
    align-content: space-around;
    vertical-align: top;
    border: 2px solid #01f48a;
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 3%;
    border-radius: 30px;
}



/*------book-------------
--------------------*/

.all-book {
  background-color: #01f48a;
    text-align: left;
padding-left: 20%;
    padding-right: 20%;
    max-width: 100%;
}
.subtitle2 {
  font-size: 50px;
  color: white;
  
}
.author {
  text-transform:uppercase;
  font-family: arial, sans-serif;
}
.book-ex {
text-transform: initial;
max-width:100%;
text-align:left;
}
.book-img {
    display: flex;
    flex-flow: wrap;
    max-width: 100%;
    height:auto;
    padding-bottom: 10%;
}


/*media queries*/

@media (min-width: 760px) {
    .movies, .book-img {
    justify-content: space-around;
    }
    


